   {% load static %}

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jpreLoader.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/easing.js' %}"></script>
    <script src="{% static 'assets/js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollto.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countTo.js' %}"></script>
    <script src="{% static 'assets/js/video.resize.js' %}"></script>
    <script src="{% static 'assets/js/validation.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.stellar.min.js' %}"></script>
	<script src="{% static 'assets/js/enquire.min.js' %}"></script>
    <script src="{% static 'assets/js/designesia.js' %}"></script>
	<script src="{% static 'assets/js/jquery.event.move.js' %}"></script>
	<script src="{% static 'assets/js/jquery.plugin.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countdown.js' %}"></script>
    <script src="{% static 'assets/js/countdown-custom.js' %}"></script>
    <script src="{% static 'assets/js/jquery.twentytwenty.js' %}"></script>

	<script>
    $(window).on("load", function(){
      $(".twentytwenty-container[data-orientation!='vertical']").twentytwenty({default_offset_pct: 0.7});
      $(".twentytwenty-container[data-orientation='vertical']").twentytwenty({default_offset_pct: 0.3, orientation: 'vertical'});
    });
    </script>
